.body{
    font-family: monospace;
    background-color: #0D1117;  
    color: #A78BFA;
}

.a{
    text-decoration: none;
    color: #A78BFA; 
}
.a2{
    text-decoration: none;
    color: #A78BFA;
    position: absolute;
    display: block; 
}

.a2 {
    left: 30%;
    top: 60%;
}

.a2:last-child {
    left: 40%;
    top: 60%;
}
.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2733; 
    border-radius: 6px;
}

.logo {
    color: #A78BFA; 
}

.nav a {
    color: #A78BFA;
}

.nav a:hover {
    color: #D1D5DB; 
}

.titulo{
    margin-left: 20px;
}
.tituloP{
    position: absolute;
    top: 37%;
    left:32%;
    
}

.container {
    overflow: hidden;
    background: #1e2733;
    display: inline-block;
    padding: 20px;
    border-radius: 10%;
    width: 150px;
    border-radius: 10%;
    position: absolute;
    top: 32%;
    right: 0;
    margin-right: 27%; 
}

.container img {
    border: 3px solid #5a4b86;
    display: block;
    width: 150px;
    height: auto;
    border-radius: 10%;
}

.portfolio{
    position: absolute;
    top: 45%;
    left:22%;
}