    .body{
        font-family: monospace;
        background-color: #0D1117;  
        color: #A78BFA;
    }
    .selector{
        overflow-x: hidden;    
    }
    .a{
        text-decoration: none;
        color: #A78BFA; 
        transition: all 0.5s ease
    }
    .a3{
        padding: 15px;
        text-decoration: none;
        color: #A78BFA; 
        transition: all 0.5s ease
    }
    .a2{
        text-decoration: none;
        color: #A78BFA;
        position: absolute;
        display: block; 
        
    }

    .a2 {
        left: 30%;
        top: 60%;
        transition: all 0.5s ease;
    }
    .a2:hover {
        color: #D1D5DB;
    }

    .a2:last-child {
        left: 40%;
        top: 60%;
        transition: all 0.5s ease
    }
    .Trimestres {
        position: absolute;
        top: 57%;
        left: 37%;
    }
    .a3:hover {
        color: #D1D5DB; 
        transition: all 0.5s ease;
    }
    .nav ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav li {
        margin: 10px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1e2733; 
        border-radius: 6px;
    }

    .logo {
        color: #A78BFA; 
    }

    .nav a {
        color: #A78BFA;
    }

    .nav a:hover {
        color: #D1D5DB; 
    }

    .titulo{
        margin-left: 20px;
    }
    .tituloP{
        position: absolute;
        top: 37%;
        left:32%;
        
    }
    .tituloProjetos{
        position: absolute;
        top: 37%;
        left:45%; 
    }

    .container {
        overflow: hidden;
        background: #1e2733;
        display: inline-block;
        padding: 20px;
        border-radius: 10%;
        width: 150px;
        border-radius: 10%;
        position: absolute;
        top: 35%;
        right: 0;
        margin-right: 27%; 
    }

    .container img {
        border: 3px solid #5a4b86;
        display: block;
        width: 150px;
        height: auto;
        border-radius: 10%;
    }

    .portfolio{
        position: absolute;
        top: 45%;
        left: 26%;
        text-align: center;
    }
    .portfolio1{
        position: absolute;
        top: 45%;
        left: 36%;
        text-align: center;
    }
    .portfolio2{
        position: absolute;
        top: 45%;
        left: 33%;
        text-align: center;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        font-family: monospace;
        left: 20%;
        transform: translateX(-50%); 
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1e2733;
        min-width: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 100%;
        left: 0;
        transition: all 0.5s ease
    }
    
    .dropdown-content a {
        color: #A78BFA;
        padding: 8px 14px;
        text-decoration: none;
        display: block;
        font-size: 1em;
        transition: all 0.5s ease
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        top: 80%;
        transition: all 0.5s ease;
        left: 0;
        border-radius: 10%;
    }
    .dropdown:hover.dropdown-content-list {
        display: block;
        max-height: 300px;
        transition: all 0.5s ease
      }

    
    .dropbtn {
        display: flex;
        background-color: #1e2733;
        color: #A78BFA;
        padding: 10px 10px;
        font-size: 1em;
        border: none;
        font-family: monospace;
        text-decoration: none;
        transition: all 0.5s ease
    }
    
    .dropbtn:hover, .dropbtn:focus {
        color: #D1D5DB;
        max-height: 100px;
        display: block;
        transition: all 0.5s ease
    }
    .fade-page {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    
    .fade-page.visible {
        opacity: 5;
    }
        